/*Primary text colors*/

$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

/*Neutral text colors*/

$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

/*Background colors*/

$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

/*Dividers*/

$lightGrayishBlue: hsl(240, 5%, 91%);

/*Font-size*/

$font-normal: 0.75rem;
$font-phone: 0.60rem;

